name: Android CI

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  build-test-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Validate Gradle Wrapper
        uses: gradle/actions/wrapper-validation@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Assemble Debug
        run: ./gradlew :app:assembleDebug --stacktrace --warning-mode all

      - name: Unit tests
        run: ./gradlew :app:testDebugUnitTest --stacktrace

      - name: Android Lint
        run: ./gradlew :app:lint --stacktrace
